<h3>Dashboard</h3>


<div id="pastel"></div>
<div id="barras"></div>
<div id="lineas"></div>
<div id="picos"></div>
<div id="burbujas"></div>
<figure class="highcharts-figure">
<div id="update"></div>
    <button id="plain">Plain</button>
    <button id="inverted">Inverted</button>
    <button id="polar">Polar</button>
</figure>
<div id="piramide"></div>
<div id="barraHorizontal"></div>

@section Scripts {
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/funnel.js"></script>
<script src="~/js/Pastel.js"></script>
<script src="~/js/Barras.js"></script>
<script src="~/js/Lineas.js"></script>
<script src="~/js/Picos.js"></script>
<script src="~/js/Burbujas.js"></script>
<script src="~/js/Update.js"></script>
<script src="~/js/Piramides.js"></script>
<script src="~/js/BarrasHor.js"></script>
<script>
    var urlBase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
</script>
}